<section class="nav-bar-container">
  <nav>
    <ul>
      <li class="hamburger-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24" enable-background="new 0 0 24 24" width="30px" height="30px">
          <g>
            <path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z" fill="#FFFFFF"/>
            <path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z" fill="#FFFFFF"/>
            <path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z" fill="#FFFFFF"/>
          </g>
        </svg>
        <ul class="drop-down-menu">
          <li class="li-options" ui-sref="home" >Home</li>
          <li class="li-options" ng-click="getCategories()" ui-sref="recipe-box">Categories</li>
          <li class="li-options" ui-sref="my-recipes">My Recipes</li>
          <li class="li-options edit-button" type="button" name="button" ng-click="editCategories()" ng-show="!isEditing">Start Editing</li>
          <li class="li-options" type="button" name="button" ng-click="stopEditing()" ng-show="isEditing">Stop Editing</li>
          <li class="li-options" ui-sref="home">Log Out</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="nav-bar-title-container">
    <div class="nav-bar-title">
      <a ui-sref="home">Recipe Box</a>
    </div>
  </div>
</section>
