@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$osFont: 'Open Sans', sans-serif;
$RBfont: 'courgette', cursive;
$gray: rgba(244, 244, 244, .9);


button {
  cursor: pointer;
  outline: none;
  &:hover {
    filter: brightness(1.2);
  }
}
.a-tag {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: darkgray;
  cursor: pointer;
}






// *********************** HOME ***********************

.home-imgOne {
  height: 100vh;
  background-image: url(https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=f89e019b6df69f20b8e15f4f14d968fb);
  background-size: cover;
  // background-attachment: fixed;
  overflow: hidden;
  // position: fixed;
}
.imgOne-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.8);
}
.recipe-box-tag {
  font-family: 'courgette', cursive;
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 100px;
}
.home-login-button {
  height: 40px;
  width: 60px;
  font-family: 'courgette', cursive;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgb(81, 91, 91);
  border: none;
  border-radius: 2px;
  align-self: center;
  &:hover {
    background-color: lightcoral;
  }
}
.text-barOne {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-color: rgb(237, 234, 234);
}
.barOne-imgOne {
  height: 200px;
  width: 200px;
  opacity: 0;
  transform: translateX(-20px);
  transition-duration: 1.2s;
  margin-right: 120px;
}
.barOne-ptag {
  opacity: 0;
  transform: translateX(80px);
  transition-duration: 1.2s;
}
.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

.home-imgTwo {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1463490093487-b0ffe9b8e140?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=00df37d9596d52c038c9b365be9edae5);
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
}

.text-barTwo {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-color: rgb(237, 234, 234);
}

.barTwo-ptag {
  opacity: 1;
  transform: translateX(-80px);
  transition-duration: 1.2s;
}

.home-signup-button {
  height: 40px;
  width: 80px;
  font-family: 'courgette', cursive;
  font-size: 16px;
  color: white;
  // position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgb(81, 91, 91);
  border: none;
  border-radius: 2px;
  align-self: center;
  &:hover {
    background-color: lightcoral;
  }
}













// *********************** LOGIN ***********************

.login-container {
  background-image: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=353f431dc16ef94d3dcbaaae38fa4109");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-box {
  height: 250px;
  width: 450px;
  display: flex;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .95);
  text-align: center;
}
.login-ptags {
  align-self: center;
  width: 80%;
}
.input-username {
  border: none;
  border-radius: 2px;
  align-self: center;
  margin-top: 7px;
  background-color: rgba(211, 211, 211, 1);
  height: 30px;
  width: 75%;
  text-indent: 10px;
}
.input-password {
  border: none;
  border-radius: 2px;
  align-self: center;
  background-color: lightgray;
  height: 30px;
  width: 75%;
  text-indent: 10px;
}
.login-button {
  height: 30px;
  width: 30%;
  color: white;
  background-color: rgb(117, 116, 116);
  border: none;
  border-radius: 2px;
  align-self: center;
  transition: 0.25s background-color;
    &:hover {
      background-color: lightcoral;
    }
}
.sign-up-link-box {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 3px;
    a {
      margin-left: 12px;
      text-decoration: none;
      margin-right: 12px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: rgb(117, 116, 116);
    }
}
.sign-up-link {
  cursor: pointer;
}


input[type="password"]::-webkit-input-placeholder {
}

.login-warning {
  width: 75%;
  position: absolute;
  align-self: center;
  margin-top: -50px;
  font-family: $osFont;
  font-size: 15px;
  color: coral;
  display: none;
  justify-content: center;
}
.incorrect-warning {
  width: 75%;
  position: absolute;
  align-self: center;
  margin-top: -50px;
  font-family: $osFont;
  font-size: 15px;
  color: coral;
  display: none;
  justify-content: center;
}


.credential-ptags {
  margin-top: 35px;
  font-size: 25px;
  font-family: 'courgette', cursive;
  color: rgb(117, 116, 116);
  margin-bottom: 17px;
}
.signup-credential-ptags {
  margin-top: 35px;
  margin-bottom: 7px;
  font-size: 25px;
  font-family: 'courgette', cursive;
  color: rgb(117, 116, 116);
  margin-bottom: 23px;
}

.login-signup-button{
  height: 35px;
  width: 60px;
  font-family: 'courgette', cursive;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgb(81, 91, 91);
  border: none;
  border-radius: 2px;
  align-self: center;
}



// *********************** SIGN-UP ***********************

.sign-up-container {
    background-image: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=353f431dc16ef94d3dcbaaae38fa4109");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.sign-up-box {
  height: 390px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .95);
  text-align: center;
}
.sign-up-ptags {
  align-self: center;
  width: 80%;
}
input[type=text]:focus {
    background-color: rgb(225, 225, 225);
    outline: none;
    color: black;
}
input[type=password]:focus {
    background-color: rgb(225, 225, 225);
    color: black;
    outline: none;
}
.input-sign-up {
  border: none;
  border-radius: 2px;
  align-self: center;
  background-color: lightgray;
  height: 30px;
  width: 75%;
  text-indent: 10px;
}
.sign-up-button {
  height: 30px;
  width: 30%;
  background-color: rgb(117, 116, 116);
  color: white;
  border: none;
  border-radius: 2px;
  align-self: center;
  transition: .25s background-color;
    &:hover {
      background-color: lightcoral;
    }
}

.login-link-box {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 5px;
    a {
      margin-left: 12px;
      text-decoration: none;
      margin-right: 12px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: rgb(117, 116, 116);
    }
}
.login-link {
  cursor: pointer;
}

.signup-warning {
  width: 75%;
  position: absolute;
  align-self: center;
  margin-top: -120px;
  font-family: $osFont;
  font-size: 15px;
  color: coral;
  display: none;
  justify-content: center;
}
.signup-incorrect-warning {
  width: 75%;
  position: absolute;
  align-self: center;
  margin-top: -50px;
  font-family: $osFont;
  font-size: 15px;
  color: coral;
  display: none;
  justify-content: center;
}










// *********************** my-recipes ***********************

.my-page-container {
  display: flex;
  justify-content: center;
}
.my-page-section {
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;

}
.add-recipe {
  width: 200px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0px 1px 20px gray;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s filter;
    &:hover {
      filter: brightness(.8);
    }
}

.add-recipe-text {
  width: 100%;
  height: 40px;
  border: solid 2px;
  border-top: none;
  border-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image {
  width: 100%;
  height: 200px;
  background-color: #EDEDEE;
  border-radius: 2px 2px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-page-recipe {
  width: 200px;
  height: 240px;
  border-radius: 2px 2px 0px 0px;
  display: flex;
  box-shadow: 0px 1px 20px gray;
  justify-content: center;
  align-items: baseline;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  cursor: pointer;
  transition: 0.5s filter;
    &:hover {
      filter: brightness(.8);
    }
}
.recipe-text-box {
  width: 100%;
  height: 40px;
  border: solid 2px;
  border-top: none;
  border-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipeName {
  width: 100%;
  text-align: center;
}
.recipe-image {
  width: 100%;
  height: 200px;
  background-color: #EDEDEE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px 2px 0 0;
}
.pop-up-recipe {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(191,191,191,.5);
  position: fixed;
  z-index: 100;
  visibility: hidden;

}
.pop-recipe-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-height: 80%;
  width: 70%;
  position: fixed;
  box-shadow: 0px 10px 15px gray;
  border-radius: 2px;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 101;
}
.pop-recipe-data {
  font-family: $osFont;
  height: 400px;
  width: 43%;
  top: 10px;
  left: 10px;
  margin-top: 65px;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    align-self: center;
    font-size: 24px;
  }
}
.ingredients-div {
  display: flex;
  flex-direction: row;
  min-height: 140px;
  margin-top: 7px;
  margin-left: 5px;
  margin-bottom: 7px;
  .measurement-container {
    display: flex;
    flex-direction: column;
  }
  .ingredient-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}
.directions-div {
  margin-top: 7px;
}
.notes-div {
  margin-top: 7px;
}
.pop-recipe-image {
  height: 400px;
  width: 52.5%;
  display: inline-block;
  right: 10px;
  top: 10px;
  position: absolute;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  background-color: lightcoral;
}
.x-close {
  top: -15px;
  right: -15px;
  position: absolute;
  cursor: pointer;
}


.pop-add-recipe {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(191,191,191,.5);
  position: fixed;
  z-index: 100;
  visibility: hidden;
}
.x-close {
  top: -15px;
  right: -15px;
  position: absolute;
  cursor: pointer;
}
.pop-add-recipe-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-height: 520;
  max-height:  auto;
  width: 680px;
  box-shadow: 0px 10px 15px gray;
  position: absolute;
  border-radius: 2px;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 101;
  padding: 10px;
  div {
    font-family: $osFont;
    padding-left: 20px;
  }
  input {
    border: none;
    border-radius: 2px;
    align-self: center;
    margin-top: 7px;
    background-color: rgba(211, 211, 211, 1);
    height: 30px;
    width: 75%;
    text-indent: 10px;
  }
  p {
    padding-right: 10px;
  }
  hr {
    width: 95%;
    border-radius: 5px;
    opacity: .3;
  }
}
.recipe-name-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  p {
    padding-right: 34px;
  }
  input {
    width: 474px;
  }
}
.image-url-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  p {
    padding-right: 53px;
  }
  input {
    width: 474px;
  }
}
.serving-size-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  p {
    padding-right: 45px;
  }
  input {
    width: 474px;
  }
}
.which-category-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  select {
    border: none;
    border-radius: 2px;
    align-self: center;
    margin-top: 7px;
    background-color: rgba(211, 211, 211, 1);
    height: 30px;
    width: 474px;
    text-indent: 10px;
  }
}
.recipe-ingredient-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .p-ingredient {
    padding-right: 50px;
  }
  .p-measurement {

  }
  input {
    width: 150px;
    margin-right: 10px;
  }
  button {
    height: 25px;
    width: 40px;
    font-size: 16px;
    color: white;
    background-color: rgb(81, 91, 91);
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: lightcoral;
    }
  }
}
.ingredients-box {
  min-height: 10px;
  padding-top: 10px;
  margin-left: 15px;
  button {
    border: none;
    border-radius: 50%;
    background-color: rgb(81, 91, 91);
    color: white;
    &:hover {
      background-color: lightcoral;
    }
  }
}
.directions-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  p {
    padding-right: 58px;
  }
  input {
    width: 426px;
    margin-right: 10px;
  }
  button {
    height: 25px;
    width: 40px;
    font-size: 16px;
    color: white;
    background-color: rgb(81, 91, 91);
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: lightcoral;
    }
  }
}
.direction-box {
  min-height: 10px;
  padding-top: 10px;
  margin-left: 15px;
  button {
    border: none;
    border-radius: 50%;
    background-color: rgb(81, 91, 91);
    color: white;
    &:hover {
      background-color: lightcoral;
    }
  }
}
.recipe-notes-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  p {
    padding-right: 37px;
  }
  textarea {
    // min-height: 20px;
    max-height: 100px;
    width: 474px;
  }
}
.add-recipe-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 200px;
  margin: auto;
  button {
    height: 30px;
    margin-top: 15px;
    width: 60px;
    font-size: 16px;
    color: white;
    background-color: rgb(81, 91, 91);
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: lightcoral;
    }
  }
}











// *********************** recipe-box ***********************

.category-page-container {
  display: flex;
  justify-content: center;
}
.stop-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  width: 100%;
}
.stop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 135px;
  border-radius: 2px;
  border: none;
  background-color: lightcoral;
  color: white;
  font-family: $osFont;
  font-size: 17px;
  animation: editing 1s infinite;
}
@keyframes editing {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
}
.category-page-section {
  background-color: rgba(255, 255, 255, .7);
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
}

.add-category {
  width: 200px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0px 1px 20px gray;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 20px;
  transition: 0.5s filter;
    &:hover {
      filter: brightness(.8);
    }
}
.add-category-image {
  width: 100%;
  height: 200px;
  background-color: #EDEDEE;
  border-radius: 2px 2px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-category-text {
  width: 100%;
  height: 40px;
  border: solid 2px;
  border-top: none;
  border-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-page-category {
  width: 200px;
  height: 240px;
  margin: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 20px gray;
  align-items: baseline;
  flex-direction: row;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.5s filter;
    &:hover {
      filter: brightness(.8);
    }
}

#img-one {
  width: 100%;
  height: 97.5px;
  background-color: #EDEDEE;
  margin-bottom: 5px;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-two {
  width: 97.5px;
  height: 97.5px;
  background-color: #EDEDEE;
  margin-right: 2.5px;
  border-radius: 2px 2px 2px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img-three {
  width: 97.5px;
  height: 97.5px;
  background-color: #EDEDEE;
  margin-left: 2.5px;
  border-radius: 2px 2px 0 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.category-name-text {
  width: 100%;
  height: 40px;
  border: solid 2px;
  border-top: none;
  border-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-image {
  width: 100%;
  height: 200px;
  background-color: #ffcece;
}

.pop-up-category {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(191,191,191,.5);
  position: fixed;
  z-index: 100;
  visibility: hidden;

}
.pop-category-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 240px;
  width: 500px;
  position: fixed;
  box-shadow: 0px 10px 15px gray;
  border-radius: 2px;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.add-category-text {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-family: $osFont;
  font-size: 30px;
}
.add-category-input {
  border: none;
  border-radius: 2px;
  align-self: center;
  background-color: rgba(211, 211, 211, 1);
  height: 30px;
  width: 70%;
  text-indent: 10px;
}
.add-category-button-container {
  height: 30%;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-category-button {
  height: 30px;
  width: 30%;
  color: white;
  background-color: rgb(117, 116, 116);
  border: none;
  flex-wrap: nowrap;
  border-radius: 2px;
  align-self: center;
  transition: 0.25s background-color;
  &:hover {
    background-color: lightcoral;
  }
}
.x-close {
  top: -15px;
  right: -15px;
  position: absolute;
  cursor: pointer;
}

.delete-category-box {
  width: 100%;
  height: 200px;
  position: absolute;
  border-radius: 2px 2px 0 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba( 0, 0, 0, .5)
}
.edit-category-text {
  width: 80%;
  color: black;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-text-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

//////////////////////// DELETE

.pop-up-delete {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(191,191,191,.5);
  position: fixed;
  z-index: 100;
  visibility: hidden;
}
.verify-delete-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 240px;
  width: 500px;
  position: fixed;
  border-radius: 2px;
  box-shadow: 0px 10px 15px gray;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.delete-category-text {
  width: 80%;
  text-align: center;
  line-height: 35px;
  font-family: $osFont;
  font-size: 30px;
  padding-bottom: 20px;
}
.verify-button-container {
  height: 30%;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  // padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.verify-buttons {
  height: 30px;
  width: 30%;
  color: white;
  background-color: rgb(117, 116, 116);
  border: none;
  flex-wrap: nowrap;
  border-radius: 2px;
  align-self: center;
  transition: 0.25s background-color;
  &:hover {
    background-color: lightcoral;
  }
}




//////////////////////////// Nav-bar Directive //

.nav-bar-container {
  height: 110px;
  width: 100%;
  background-color: rgba(0, 0, 0, .9);
  .nav-bar-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-bar-title {
      a{
        text-decoration: none;
        font-family: $RBfont;
        color: white;
        font-size: 55px;
      }
    }
  }
  .hamburger-container {
    margin-top: 33px;
    cursor: pointer;
    margin-left: 30px;
    position: absolute;
    transition: .5s transform;
    &:hover {
      transform: scale(1.15, 1.15);
    }
  }
}

nav {
  padding: 50px;
  text-align: center;
  ul {
    top: 44px;
    left: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    li.hamburger-icon {
    display: flex;
    justify-content: center;
    width: 134px;
    height: 66px;
    line-height: 35px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    cursor: pointer;
    }
  }
}
ul.drop-down-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  z-index: 2000;
  padding: 0;

  li.li-options {
    height: 35px;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-family: $osFont;
    &:hover {
      background: #606060;
    }
    &:last-child {
      border-radius: 0px 0px 2px 2px;
    }
  }
}
// Default Trigger

ul.drop-down-menu li {
  display: none;// HIDE
}
li:hover > ul.drop-down-menu li {
  display: block; // SHOW
}

li:hover > ul.drop-down-menu {
  perspective: 1000px;
  li {
    opacity: 0;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: in;
          duration: 300ms;
          delay: (90ms * $i) - 300;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes in {
  0% {
    opacity: 0;
    // transform: rotateX(-90deg) translateY(20px);
    transform: translateX(-300px);

  }
  100% {
    opacity: 1;
    // transform: rotateX(0deg) translateY(0px);
    transform: translateY(0px);

  }
}





// https://paul-ragar.github.io/Recipe-Box/#/home
